name: Build and Deploy to ECS

on:
  push:
    branches: [ "main" ]

env:
  AWS_REGION: eu-west-2

  # Update these to match your ECR repo names
  ECR_GATEWAY_REPO: gateway
  ECR_AUTH_REPO: auth-service
  ECR_PRODUCTS_REPO: products-service
  ECR_ORDER_REPO: order-service

  # Update these to match your ECS setup
  ECS_CLUSTER: microservices-cluster
  ECS_SERVICE: microservices-service

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set image tag
        run: echo "IMAGE_TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

      # ---------- Build & Push: Gateway ----------
      - name: Build and push gateway
        run: |
          docker build -t ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_GATEWAY_REPO }}:${{ env.IMAGE_TAG }} -f gateway/Dockerfile.ecs gateway
          docker push ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_GATEWAY_REPO }}:${{ env.IMAGE_TAG }}

      # ---------- Build & Push: Auth ----------
      - name: Build and push auth-service
        run: |
          docker build -t ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_AUTH_REPO }}:${{ env.IMAGE_TAG }} services/auth-service
          docker push ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_AUTH_REPO }}:${{ env.IMAGE_TAG }}

      # ---------- Build & Push: Products ----------
      - name: Build and push products-service
        run: |
          docker build -t ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_PRODUCTS_REPO }}:${{ env.IMAGE_TAG }} services/products-service
          docker push ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_PRODUCTS_REPO }}:${{ env.IMAGE_TAG }}

      # ---------- Build & Push: Order ----------
      - name: Build and push order-service
        run: |
          docker build -t ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_ORDER_REPO }}:${{ env.IMAGE_TAG }} services/order-service
          docker push ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_ORDER_REPO }}:${{ env.IMAGE_TAG }}

      # Force ECS redeploy (uses latest task def already in ECS)
      - name: Force ECS redeploy
        run: |
          aws ecs update-service \
            --cluster ${{ env.ECS_CLUSTER }} \
            --service ${{ env.ECS_SERVICE }} \
            --force-new-deployment
