name: Deploy to ECS

on:
  push:
    branches: [ "main" ]

env:
  AWS_REGION: eu-west-2

  ECS_CLUSTER: microservices-platform
  ECS_SERVICE: microservices-service

  # Your task definition template file
  ECS_TASK_DEFINITION: ecs/taskdef-gateway.json
  ECS_CONTAINER_NAME: gateway

  # ECR repo name for your gateway image
  ECR_REPOSITORY_GATEWAY: gateway

  # Tag images with the commit SHA
  IMAGE_TAG: ${{ github.sha }}

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set ECR registry
        run: echo "ECR_REGISTRY=${{ steps.login-ecr.outputs.registry }}" >> $GITHUB_ENV

      #  IMPORTANT: Use Dockerfile.ecs and build context gateway
      - name: Build & Push gateway (NO CACHE)
        run: |
          docker build --no-cache \
            -t $ECR_REGISTRY/${{ env.ECR_REPOSITORY_GATEWAY }}:${{ env.IMAGE_TAG }} \
            -f gateway/Dockerfile.ecs gateway
          docker push $ECR_REGISTRY/${{ env.ECR_REPOSITORY_GATEWAY }}:${{ env.IMAGE_TAG }}

      - name: Render task definition (gateway)
        id: render-taskdef
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: ${{ env.ECS_TASK_DEFINITION }}
          container-name: ${{ env.ECS_CONTAINER_NAME }}
          image: ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY_GATEWAY }}:${{ env.IMAGE_TAG }}

      - name: Deploy to ECS
        uses: aws-actions/amazon-ecs-deploy-task-definition@v2
        with:
          task-definition: ${{ steps.render-taskdef.outputs.task-definition }}
          service: ${{ env.ECS_SERVICE }}
          cluster: ${{ env.ECS_CLUSTER }}
          wait-for-service-stability: true
